* {
  box-sizing: border-box;
}

:root {
  --font-heading: "Sen", sans-serif;
  --primary-color: #ffb900;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

.heading-lv2 {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.27;
  letter-spacing: -0.76px;
}

.btn {
  display: inline-block;
  min-width: 11.8rem;
  padding: 0 16px;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  border-radius: 99.9rem;
  background-color: #171100;
  color: #ffffff;
  line-height: 50px;
}

.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

.main-content {
  max-width: calc(100% - 48px);
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp.line-2 {
  -webkit-line-clamp: 2;
  line-clamp: auto;
}

.break-all {
  word-break: break-all;
}
.header {
  background-color: #fffcf4;
  z-index: 1;
}

.header.fixed {
  position: sticky;
  top: -28px;
}
.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}

.nav {
  margin-left: auto;
}

.nav ul {
  display: flex;
}

.nav a {
  position: relative;
  color: #5f5b53;
  padding: 8px 21px;
  font-size: 1.6rem;
}

.nav a:hover,
.nav li.active a {
  color: #171100;
  text-shadow: 0.5px 0 0 currentColor;
}

.nav li.active a::after {
  position: absolute;
  left: 21px;
  bottom: 6px;
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
}

.header .btn-signup {
  min-width: 14.4rem;
}

.header .action {
  margin-left: 4.9rem;
}

.hero {
  padding: 5.6rem 0 6.5rem;
  background: #fffcf4;
}

.hero .main-content {
  min-width: 1170px;
}
.hero .body {
  display: flex;
}

/* Content-block left */

.hero .media-block {
  position: relative;
  width: 48%;
}

.hero .media-block .img {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}

.hero .hero-summary {
  padding: 24px;
  position: absolute;
  bottom: 48px;
  right: 0;
  width: 270px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero-summary .item {
  display: flex;
  align-items: center;
}

.hero-summary .item + .item {
  margin-top: 22px;
}

.hero-summary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff9e8;
}

.hero-summary .icon2 {
  background: #fcefff;
}

.hero-summary .icon3 {
  background: #ebeaff;
}

.hero-summary .info {
  margin-left: 16px;
}

.hero-summary .label {
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86;
}

.hero-summary .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

/* Content block right */

.hero .content-block {
  width: 52%;
  padding-left: 130px;
  padding-top: 64px;
}

.hero .heading {
  font-family: var(--font-heading);
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: -1.16px;
  color: #171100;
}

.hero .desc {
  color: #5f5b53;
  font-size: 1.8rem;
  margin-top: 22px;
  line-height: 1.67;
}

.hero .cta-group {
  margin-top: 3.8rem;
  display: flex;
  align-items: center;
}

.hero-cta {
  min-width: 18rem;
  line-height: 6.4rem;
  background-color: var(--primary-color);
}

.hero .watch-video {
  margin-left: 2.8rem;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.watch-video .icon {
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  border-radius: 4rem;
  background: #fff;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.07);
}

.watch-video span {
  margin-left: 1.4rem;
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

.hero .desc-recent {
  margin-top: 4.8rem;
}

.hero .stats {
  margin-top: 0.8rem;
}

.hero .stats strong {
  margin-right: 1.5rem;
  color: #171100;
  font-family: var(--font-heading);
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.23;
}

.hero .stats strong:nth-child(2) {
  margin-left: 2.8rem;
}

.popular {
  padding: 6.5rem 0;
  margin-top: 13.5rem;
}

.popular-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-top .desc {
  margin-top: 1.6rem;
  width: 45.8rem;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #5f5b53;
}
.popular-top .control {
  display: flex;
  gap: 1.8rem;
}
.popular-top .control-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.popular-top .control-btn:hover {
  background: var(--primary-color);
  color: #fff;
  cursor: pointer;
}

.popular .course-list {
  gap: 3rem;
  display: flex;
  margin-top: 5.5rem;
}

.popular .course-item {
  flex: 1;
  border-radius: 1.2rem;
  border: 1px solid #e2dfda;
  background: #fff;
}

.popular .course-item:hover {
  border: 1px solid transparent;
  border-radius: 1.2rem;
  background: #fff;
  box-shadow: 0 1.8rem 3.6rem 0 rgba(0, 0, 0, 0.05);
}

.popular .course-item .thumb {
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}

.popular .course-item .info {
  padding: 1.6rem 2.2rem 2.2rem;
}
.popular .course-item .foot,
.popular .course-item .rating,
.popular .course-item .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popular .course-item .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

.popular .rating .value {
  margin-left: 0.6rem;
  color: #fea31b;
  font-size: 1.6rem;
  line-height: 1.75;
}

.popular .course-item .desc {
  margin-top: 0.6rem;
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86;
}

.popular .course-item .foot {
  margin-top: 1.2rem;
}

.popular .course-item .price {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

.popular .course-item .btn-book {
  border: none;
}

.popular .course-item .btn-book:hover {
  background-color: var(--primary-color);
}

.feedback {
  margin-top: 13.5rem;
  padding: 9.6rem 0;
  background: #2e2100;
}

.feedback-list {
  display: flex;
  overflow: hidden;
}

.feedback-item {
  width: 100%;
  display: flex;
  flex-shrink: 0;
  transform: translateX(-100%);
  transition: all ease 0.5s;
}

.feedback-item .avatar {
  width: 7.2rem;
  height: 7.2rem;
  border-radius: 50%;
  object-fit: cover;
}

.feedback-item .info .member-name {
  margin-top: 1.8rem;
  color: f7f7f7;
  font-family: var(--font-heading);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.42;
}

.feedback-item .info .desc {
  margin-top: 0.4rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86;
  color: #bfbcb2;
}

.feedback-item .dots {
  display: flex;
  gap: 5px;
}

.feedback-item .dot {
  height: 0.6rem;
  width: 0.6rem;
  border-radius: 50%;
  background: #634700;
  cursor: pointer;
}

.feedback-item .dot.active {
  background: var(--primary-color);
  cursor: default;
}

.feedback-item .content {
  width: 66%;
  margin-left: auto;
}

.feedback-item blockquote {
  color: #fff;
  font-size: 2.6rem;
  font-style: italic;
  line-height: 1.54;
}

.features {
  margin-top: 13.5rem;
  padding: 6.5rem 0;
}

.features .body {
  display: flex;
  justify-content: space-between;
}

.features .images {
  display: flex;
  gap: 3rem;
}

.features .images img {
  width: 27rem;
  height: 45rem;
  object-fit: cover;
  border-radius: 1.6rem;
}

.features .lower {
  margin-top: 3.4rem;
}

.features .content {
  width: 41%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.features .desc {
  margin-top: 1.6rem;
  color: #5f5b53;
  font-size: 1.6rem;
  line-height: 1.75;
}

.features .cta-btn {
  margin-top: 3.2rem;
  width: 13.7rem;
  height: 5rem;
  background: var(--primary-color);
}

.features-2nd {
  margin-top: 7rem;
}

.features-2nd .body {
  flex-direction: row-reverse;
}

.features-2nd .content {
  width: 49%;
}

.features-2nd .images img {
  width: 47rem;
  height: 44rem;
}

.blogs {
  margin-top: 13.5rem;
  padding: 9.6rem 0;
  background: #fffcf4;
}

.blogs .blog-top {
  text-align: center;
}

.blogs .blog-top .desc {
  color: #696262;
  margin: 1.6rem auto 0;
  width: 44.8rem;
  font-size: 1.6rem;
  line-height: 1.75;
}

.blogs .blog-list {
  overflow: hidden;
  gap: 30px;
  display: flex;
  margin-top: 5.5rem;
}

.blogs .item {
  flex-shrink: 0;
  width: calc(33.33% - 2rem);
  border-radius: 1.6rem;
  background: #fff;
}

.blogs .item:hover {
  box-shadow: 0 1.6rem 3.2rem 0 rgba(0, 0, 0, 0.05);
}

.blogs .item .thumb {
  width: 100%;
  height: 25rem;
  object-fit: cover;
  border-radius: 1.6rem 1.6rem 0 0;
}

.blogs .item .info {
  padding: 2rem 2rem 2.8rem;
}

.blogs .item .date {
  position: relative;
  padding-bottom: 1.2rem;
  display: inline-flex;
  align-items: center;
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86;
}

.blogs .item .date::before {
  content: "";
  margin-right: 0.4rem;
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--primary-color);
}

.blogs .item .date::after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: -2.7rem;
  content: "";
  display: inline-block;
  width: 16rem;
  height: 0.1rem;
  border-radius: 0.05rem;
  background: #e2dfda;
}

.blogs .item .title {
  margin-top: 1.2rem;
  color: #171100;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
}

.blogs .item .btn {
  margin-top: 1.2rem;
  font-size: 1.4rem;
}

.blogs .item .btn:hover {
  background: var(--primary-color);
}

.blogs .dots {
  display: flex;
  justify-content: center;
  gap: 0.6rem;
}

.blogs .dot {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  background: #5f5b53;
  cursor: pointer;
}

.blogs .dot.active {
  background: var(--primary-color);
  cursor: default;
}

footer {
  background: #2e2100;
  padding: 9.6rem 13.5rem 0;
}

.footer .row {
  padding-bottom: 3.8rem;
  border-bottom: 0.1rem solid #59554b;
  display: flex;
}

.footer .row .column {
  width: 21.6%;
}

.footer .row .column:first-child {
  width: 35%;
}

.footer .desc {
  margin-top: 3rem;
  max-width: 26.7rem;
  color: #bfbcb2;
  font-size: 1.4rem;
  line-height: 1.86;
}

.footer .socials {
  display: flex;
  gap: 1.8rem;
  margin-top: 1.8rem;
}

.footer .title {
  padding-bottom: 1.4rem;
  padding-right: 4.8rem;
  display: inline-block;
  border-bottom: 0.1rem solid #59554b;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
}

.footer .list {
  margin-top: 2.8rem;
}

.footer .list a {
  display: inline-block;
  margin-bottom: 1.2rem;
  color: #bfbcb2;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86;
}

.footer .list li:last-child a {
  margin-bottom: 0;
}

.footer .list strong {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.86;
}

.footer .copyright {
  padding: 2.8rem 0;
  font-size: 1.4rem;
  line-height: 1.86;
  text-align: center;
  color: #807d74;
}
